# build output
dist/
.output/

# astro
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment
.env
.env.production

# macOS
.DS_Store

# editor
.vscode/
.idea/

# vercel
.vercel
